{% extends "base.html" %} {% block title %}Todos{% endblock %} 
{% block content%}
<div>
    <div id="header">
        <h2>Todo App</h2>
    </div>
    {% if user.is_authenticated %}
    <h3>Hi, {{user|upper}}</h3>
    <span><a href="{% url 'user:logout' %}">Logout</a></span>
    <h4><a href="{% url 'mytodo:create' %}">Create ToDo</a></h4>
    {% endif %}

    <div class="todos-container">
        
        {% for todo in todos %}
        {% if todo.owner == request.user %}
          <div class="todo-items">
            <h3>
                <a href="{% url 'mytodo:todo-view' todo.id %}">{{todo.name}}</a>
            </h3>
            <p>{{todo.description}}</p>
        </div>
        {% endif %}
        {% endfor %} 
        
    </div>
</div>

{% endblock %}
